extends layout

block content
  div.header.gradient
    h1 Blindsight

  p(id='dir') Direction:
  video(autoplay)
  img(src="")
  canvas(style="display:none;")

block scripts
  script(src='/js/main.js')
