/*
 *  Default colors for every element
 *  It is expected that these be changed for each site as needed
 */
 
/* Primary colors */
$primary-color: #F01721 !default;
$primary-gradient-color: #F00D90 !default;
$primary-text-color: #111111 !default;
$primary-inverse-text-color: #FFFFFF !default;

/* Accent colors */
$accent-color: #69F0AE !default;
$accent-gradient-color: #56F072 !default;
$accent-text-color: #111111 !default;
$accent-inverse-text-color: #FFFFFF !default;

/* Other colors */
$border-color: #DDDDDD !default;

